body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: url(/static/img/background.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.navbar {
  background: blur;
  backdrop-filter: blur(40px);
  font-size: 25px;
}

.navbar-nav .nav-link {
  color: white;
  /* Set text color to white */
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.card-img {
  width: 200px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
  margin: auto;
  /* Center the image horizontally */
  object-fit: cover;
}

.card {
  text-align: center;
  background-color: wheat;
  font-size: 25px;
  border-radius: 15px;
  margin: 200px;
  height: 20px;
}

.card-body {
  background-color:#2B781F;
}

.card-img-container {
  position: relative;
  width: 200px; /* Adjust this value as needed */
  height: 200px; /* Adjust this value as needed */
  overflow: hidden;
}

#goToTopBtn {
  display: none; /* Initially hide the button */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it appears above other elements */
}

#goToTopBtn:hover {
  background-color: #0056b3;
}
