body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: url(/static/img/background.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background: blur;
  backdrop-filter: blur(40px);
  font-size: 25px;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.card-img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Adjust the maximum width as needed */
  margin: auto;
  object-fit: cover;
}
.card-text{
  text-align: left;
  font-size: 20px;
}
.card {
  text-align: center;
  background-color: wheat;
  font-size: 25px;
  border-radius: 15px;
  margin: 20px; /* Adjust margin for spacing */
  padding: 20px; /* Adjust padding for spacing */
}

.card-body {
  background-color:#2B781F;
}

.card-img-container {
  position: relative;
  width: 100%;
  max-width: 200px; /* Adjust the maximum width as needed */
  height: auto;
  overflow: hidden;
}

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

#goToTopBtn:hover {
  background-color:  gray;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  /* Styles for tablets and larger devices */
  .card {
    margin: 50px; /* Adjust margin for larger screens */
  }
}

@media screen and (min-width: 992px) {
  /* Styles for desktops and larger devices */
  .card {
    margin: 100px; /* Adjust margin for larger screens */
  }
}
