body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: url(/static/img/background.jpg);
  background-blend-mode: multiply;
  background-position: center;
  background-size:cover;
  background-repeat: repeat;
  background: container;
}

.navbar {
  background: blur;
  backdrop-filter: blur(50px);
  font-size: 25px;
}

.item {
  margin-bottom: 20px; /* Adjust the value as needed */
  padding-bottom: 20px; /* Optional: adds padding inside the item */
  border-bottom: 1px solid #ddd; /* Optional: adds a bottom border to visually separate items */
}

.footer {
  background: blur;
  backdrop-filter: blur(50px);/* Apply blur effect */
  font-size: 15px;
  position: fixed; /* Fixed position at the bottom of the viewport */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px; /* Add padding for better readability */
}


.navbar-nav .nav-link {
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.card-img {
  width: 100%;
  height: auto;
  max-width:100%;
  /* Adjust the maximum width as needed */
  margin: auto;
  object-fit: cover;
}

.card-text {
  text-align: left;
  font-size: 20px;
}

.card {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border-radius: 15px;
  margin: 20px;
  /* Adjust margin for spacing */
  padding: 20px;
  /* Adjust padding for spacing */
}

.card-body {
  background-color: #ffffff;
}

.container{
  text-align: center;
  color: #ffffff;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.card-img-container {
  position:contain;
  width: 100%;
  max-width: 200px;
  /* Adjust the maximum width as needed */
  height: auto;
  overflow: hidden;
}

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(126, 126, 126);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

.card-img-top {
  height: 200px; /* ปรับความสูงเป็นค่าคงที่ */
  object-fit: cover; /* ครอบคลุมพื้นที่ของอิลิเมนต์ */
  width: 100%; /* ทำให้ภาพเต็มขนาด */
}



#goToTopBtn:hover {
  background-color: rgb(86, 86, 86);
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  /* Styles for tablets and larger devices */
  .card {
    margin: 2px; /* ปรับขนาดของขอบ */
  }
  .card-img-top {
    width: 200px; /* กำหนดความกว้างเป็นค่าคงที่ */
    height: 200px; /* กำหนดความสูงเป็นค่าคงที่ */
    object-fit: cover; /* ครอบคลุมพื้นที่ของอิลิเมนต์ */
  }
}

@media screen and (min-width: 992px) {
  /* Styles for desktops and larger devices */
  .card {
    margin: 40px; /* ปรับขนาดของขอบ */
  }
  .card-img-top {
    width: 200px; /* กำหนดความกว้างเป็นค่าคงที่ */
    height: 200px; /* กำหนดความสูงเป็นค่าคงที่ */
    object-fit: cover; /* ครอบคลุมพื้นที่ของอิลิเมนต์ */
  }
}



@keyframes popup {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#popup-text {
  animation: popup 1s ease-out forwards;
}

.item {
  text-align: center;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px 5px 10px 5px; /* Adjusted margin for top, right, bottom, and left */
  height: 100%; /* Ensures all items are of equal height */
  backdrop-filter: blur(100px); /* Apply blur effect */
  background-color: transparent; /* Adjust background color and opacity */
  color: #ffffff;
}



#goBackBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px; /* Adjusted from right to left */
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 100;
}
.input{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}